In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv("titanic.csv")

print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [17]:
# Sample dataset

data = {"Name": ["Alice", "Bruce", "Bella", np.nan, "David"],
       "Age": [np.nan, 11, 9, 30, 36],
       "Score": [85, 90, np.nan, 91, 88]}
df = pd.DataFrame(data)

print("Original Dataset: \n", df)

df["Age"] = df["Age"].fillna(df["Age"].mean()) # using mean to replace NaN value
df["Score"] = df["Score"].interpolate() # Using interpolate

print("\nDataset: \n", df)

# Renaming columns and rows

df = df.rename(columns={"Name": "Student_Name", "Score": "Exam_score"})

print("\nRenamed dataset:\n", df)

Original Dataset:
     Name   Age  Score
0  Alice   NaN   85.0
1  Bruce  11.0   90.0
2  Bella   9.0    NaN
3    NaN  30.0   91.0
4  David  36.0   88.0

Dataset:
     Name   Age  Score
0  Alice  21.5   85.0
1  Bruce  11.0   90.0
2  Bella   9.0   90.5
3    NaN  30.0   91.0
4  David  36.0   88.0

Renamed dataset:
   Student_Name   Age  Exam_score
0        Alice  21.5        85.0
1        Bruce  11.0        90.0
2        Bella   9.0        90.5
3          NaN  30.0        91.0
4        David  36.0        88.0

In [20]:
# Merge 2 datasets and merge them

df1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Bruce", "Bella", "Buddy"],
    "Age": [11, 10, 4]
})

df2 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Score": [85, 90, 88]
})

print("Dataset: \n", df1)
print("\nDataset: \n", df2)

merged_dataset = pd.merge(df1, df2, how="inner", on="ID")
print("\nMerged Dataset: \n", merged_dataset)
merged_dataset["Score_Percentage"] = (merged_dataset["Score"] / 100) * 100
print("\nTransformed Dataset: \n", merged_dataset)

Dataset:
    ID   Name  Age
0   1  Bruce   11
1   2  Bella   10
2   3  Buddy    4

Dataset:
    ID  Score
0   1     85
1   2     90
2   3     88

Merged Dataset:
    ID   Name  Age  Score
0   1  Bruce   11     85
1   2  Bella   10     90
2   3  Buddy    4     88

Transformed Dataset:
    ID   Name  Age  Score  Score_Percentage
0   1  Bruce   11     85              85.0
1   2  Bella   10     90              90.0
2   3  Buddy    4     88              88.0